.title {
    background-color: #fade94;
    color: #6b5c43;
    font-size: 23px;
    margin: 0 auto 15px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    width: 80%;
    border-radius: 10px;
    filter: drop-shadow(0px 5px 0 #c2b693);
}

.clap {
    width: 45px;
    margin-right: 10px;
}