.submit {
    background-color: #29957c;
    color: white;
    border-radius: 50px;
    width: calc(80% - 50px);
    margin: 10px auto 20px;
    padding: 10px;
    font-size: 17px;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit:hover {
    cursor: pointer;
}

.fa-arrow-right {
    margin-left: 8px;
    font-size: 13px;
}

@media (max-width: 1150px) {
    .submit {
        width: calc(95% - 50px);
    }
}

@media (max-width: 900px) {
    .submit {
        width: calc(72% - 50px);
        margin-top: 25px;
    }
}

@media (max-width: 630px) {
    .submit {
        width: calc(95% - 50px);
    }
}