.search {
    color: #55a290;
    background-color: #e2faf1;
    padding: 8px 0;
    border-radius: 10px;
}

.search input {
    border: 0;
    background-color: transparent;
    width: 95%;
}

.search input:focus {
    outline: none;
}

/*change placeholder font and color*/
.search input::-webkit-input-placeholder {
    color: #55a290;
    font-family: "Nunito", sans-serif;
    font-size: 15px;
}

.search i {
    font-size: 13px;
    margin: 0 10px;
}