.nmt-number {
    background-color: #e2faf1;
    border: 0;
    width: 50px;
    border-radius: 5px;
    margin: 0 5px 0 10px;
    text-align: center;
    height: 30px;
    font-size: 15px;
}

.nmt-number, .nmt-number::placeholder {
    color: #55a290;
    font-weight: 600;
}