.villager-tab {
    background-color: #2baf91;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 10px;
    width: 92%;
    margin: 10px auto;
    height: 35px;
    position: relative;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

.villager-icon {
    margin: 0 10px;
}